body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

h1 {
  color: #722f37;
}

footer {
  text-align: center;
  background-color: #722f37;
  color: white;
  margin-top: 595px;
}